
body{
  background-image: url("../image/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  max-height: max-content;
  font-family: "Calibri"
}

a:hover{
color : green;
}

section{
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

#demarche{
  flex: 2;
}

#demarche > h3{
  padding-bottom: 20px;
}

#demarcheContent > div:hover{
  cursor: pointer;
  color: green;
}

#divInputRecherche{
margin-top: 2%;
background-color: #e8e4e4;
width: 30%;
display: flex;
}
#divInputRecherche:hover{
cursor: text;
}
#inputRecherche{
  width: 80%;
  background-color: #e8e4e4;
  border: none;
  padding: 10px;
}
input:focus{
  outline: none;
}
#loupeImg{
min-width: 25px;
min-height: 25px;
margin-top: 5px;
margin-left: 5px;
width: 2px;
max-height: 2px;
}
#divers{
  margin-top: 6%;
  flex: 2;
}

aside {
  display: flex;
  justify-content: space-evenly;
}

#demarcheContent{
  display: flex;
  justify-content: space-evenly;
}

#faq{
  padding-bottom: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#faq >p{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: space-evenly;
}

#faq > p > a{
  padding: 5px 0px 5px 0px;
}

#contact{
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}
#contact > p{
margin-top: 5%;
}

#faq > p{
margin-top: 5%;
}
footer{
  display: flex;
}

#content img{
  max-width: 100px;
  max-height: 100px; 
}

.arrowImg{
  object-fit: contain;
  width: 25px;
  height: 25px;
}

#demarcheContent > div{
margin-top: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more{
  align-items: center;
  align-self: stretch;
  display: flex;
  padding-right: 30px;
  justify-content: flex-end;
}

.more > p {
  padding-top: 20px;
}

#demarche > h3{
  margin-top: 2.5%;
  padding-left: 100px;
}
#underline{
  margin-top: -6%;
  margin-left: 1px;
}
a{
  text-decoration: none;
  color: inherit;
}

#accueil{
  margin-top: 2%;
  padding-left: 80px;
  flex:1;
}

#divWrench > p{
margin-top: 10%
}

#divContrat > p{
margin-top: 10%
}

#divPlus > p{
margin-top: 10%
}