*{
    padding: 0;
    margin: 0;
}
.content{
    padding: 50px;
    padding-bottom: 3%;
}

#contenu{
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.content img{
    position : relative;
    display: block;
    margin-left: auto;
    margin-right : auto;
    width: 80%;
}
.titre{
    background-color: rgb(0, 91, 0);
    position : relative;
    top : -12%;
    width: 80%;
    font-size:medium;
    color: white;
    padding: 3%;
    font-weight: bold;
}
.cell{
    display: grid;
}

@media screen and (min-width : 1200px){
    #contenu{
      width : 1085px;
    }

  
  }