*{
  padding : 0;
  margin: 0;
}
header{
  top:0px;
  position: sticky;
  background-image: url("../image/cadreJungle.png");
  background-size: cover;
  box-shadow: 0px 5px 15px grey;
}

#logoTop{
  padding-top: 1.5%;
  display: block;
  width: 15%;
  margin-left: auto;
  margin-right: auto;
}
nav{
  width: auto;
  margin-left: 20%;  margin-right: 20%;
  margin-top: 1%;
  text-align: center;
  padding-bottom: 1%;
}
#menu{
  display : grid;
  margin : 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}
#menu > li {
  grid-column: span 1;
  text-align: center;
  list-style: none;
  font-family: "Calibri";
  font-weight: 500;
  font-size: 165%;
}

#menu > li > a {
  text-decoration: none;
  color : black;
}
#menu > li > a:hover {
  color : green;
}
#menu > li > a:focus {
  color : green;
  font-weight: bold;
}
.bord{
  border-right: solid;
}

footer{
  background-color: rgb(199, 199, 199);
  height: 80px;
  display: grid;
}
#logoBottom{
  display: block;
  width: 10%;
  margin-top: auto;
  margin-bottom: auto;
}

@media screen and (min-width : 1200px){
  header{
    height: 215px;
    display: grid;
    grid-template-rows: auto auto;
  }
  #logoTop{
    padding-top: 17px;
     height: 138px;
     width: 177px;
  }
  nav{
    grid-row :auto;
    margin-top: 12px;
  }



}

@media screen and (max-width : 800px){
  #menu > li {
    
    font-size: 105%;
  }


}

