.panel-block{

	width: auto;
	margin-left: 20%;  margin-right: 20%;
	margin-top: 1%;
	text-align: center;
	padding-bottom: 5%;
	
}



section{
	width: auto;
	margin-left: 3%;
	margin-top: 1%;
	padding-bottom: 2%;
}
li{
  list-style-type: '> ';
}

.rubrique,.reponse{
	display:none;
}

.reponse{
	margin:5px 15px;
	color:black;
}

.question{
	padding:5px;
	background-color: whitesmoke;
	display:block;
	color:green;
	cursor: pointer;
}

.question:before{
	content:attr(data-icone);
	padding-right:1em;
}

#nav{
	width:100%;
	margin:0 auto;
	padding:5px 0;
	text-align:center;
}

#nav li{
	display:inline;
	padding: 0 10px;
}

#nav li.selected{
	border-bottom:solid #3de00b;
}

#nav li.notSelected:hover, #nav li.selected:hover{
	border-bottom:solid #5d0be0;
}

#nav li.notSelected{
	border-bottom:hidden;
}

#nav li img{
	width:96px;
	height:96px;
	cursor: pointer;
}

.menu-faq{
	font-size:2em;
	font-weight:inherit;
}

.question-reponse{
	margin: 10px 5px;
	padding: 2px;
	border: solid #000;
	border-radius: 10px;
	border-width: 1px;
}